header {
    background-color: #49BAA8;
    color:white;
    height: 75vh;
    padding-top:50px;
    text-align: center;
    width:100%;
    .title {
        font-size: 4em;
        font-weight: 900;
    }
    .discription {
        font-size:2em;
        font-weight: 400;
    }
}

