.container {
    display: flex;
    flex-flow: column nowrap;
    text-align: left;
    padding-left: 2%;
    color: black;
    .question {
        font-size: 2rem;
    }
    .answer {
        font-size: 1.5rem;
        input {
            display: none;
        }
    }
}

